<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon2.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PoolPlace — установка композитных бассейнов и SPA купелей под ключ. Высокое качество, современные технологии и индивидуальный подход для вашего идеального отдыха.">
    <meta name="keywords" content="композитные бассейны, SPA купели, установка бассейнов, PoolPlace">
    <meta name="author" content="PoolPlace">
    <title>PoolPlace. Проектирование и строительство бассейнов под ключ.</title>
    <meta name="description" content="Описание"/>
    <script type="module" crossorigin src="/assets/index-rB4bC-to.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-D1dtoCbk.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
